.header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    display: block;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 0px;
    width: 100%;
}

.grid-item {
    border-bottom: 1px solid #e5e5e5;
}

.delete {
    font-size: 30px;
    align-content: center;
    padding-top: 50px;
}

.space {
    flex: 1 1 auto;
}

.button-save {
    width: 100%;
    padding: 5px;
}

.button-google {
    padding: 10px;
}

.google {
    height: 25px;
    width: auto;
}

.button-logo {
    float: left;
    height: 50px;
}

.notification {
    min-height: 150px;
    margin: 25px;
}

.notification img {
    float: left;
}